@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="align-content:center">Welcome to Guild Quest</h1>
    <p style="align-content:center"><b>You worry about completing quests, We Will handle the rest!</b></p>
    <div class="OwnerImages">
        <img style="height:250px; width:250px; object-fit:contain" src="Images/FounderPhotos/Rob.jpg" />
        <img style="height:250px; width:250px; object-fit:contain" src="Images/FounderPhotos/Duncan.jpg" />
        <img style="height:250px; width:250px; object-fit:contain" src="Images/FounderPhotos/Andrew.png" />
        <img style="height:250px; width:250px; object-fit:contain" src="Images/FounderPhotos/Kyle.jpg" />
    </div>
    <br />
    <br />
    <h1 class="display-4" style="align-content:center">Our Mission</h1>
    <p class="mission-text">Our mission is to empower Dungeons & Dragons players to forge meaningful connections, discover new groups, and build unforgettable adventures together. We aim to create a dedicated social space where players and Dungeon Masters can easily find campaigns, share ideas, and collaborate on stories.</p>
</div>

