@page
@model CapstoneProject.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<head>
	<link rel="stylesheet" href="~/css/login.css" />
</head>


<form method="post">
	<div class="imgcontainer text-center">
		<h1>Welcome!</h1>
	</div>

	<div class="container">
		<label for="uname">Username</label>
		<input style="font-family:Arial"type="text" placeholder="Enter Username" name="uname" required/>

		<label for="psw">Password</label>
		<input style="font-family:Arial" type="password" placeholder="Enter Password" name="psw" required/>


		<button class="submit_btn" type="submit">Login</button>
	</div>

</form>

<div class="container">
	<button class="cancelbtn" onclick="window.location.href='/'">Cancel</button>
	<span class="signup"><a href="/signup">Create Account</a></span>
	<span class="psw"><a href="#">Forgot password?</a></span>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@section scripts {
	<script>
	@if (TempData["Login"] != null || !ModelState.IsValid)
	{
		<text>
		Swal.fire({
			background: '#663e3e',
			color: '#F0F0F0',
			icon: 'error',
			iconColor: '#FF4500D',
			confirmButtonColor: '#004D61',
			title: 'Login Failed',
			text: '@string.Join(" ", ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage))'
			});
		</text>
	}
	
</script>
}